html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
    background:#fefefe;
}

a{
    color: inherit;
}

button{
    cursor: pointer;
    outline:none;
    font-weight: 300;
    background-color: #1dce94;
    border: none;
    border-radius: 5px;
    color: white;
    padding:0.5rem 1rem;
    transition: all 0.3s;

    &:hover{
        color: #1dce94;
        background-color: white;
    }

    &:active{
        background-color: #cbcbcb;
    }
}

* { box-sizing: border-box; }

h1{
    margin: 1rem 2rem;
}
sub{
    margin-bottom:2rem;
    display:block;
    font-size:1rem;
}

.row{
    display:flex;
    flex-wrap:wrap;
    margin:2rem;
}

.col-left{
    width:320px;
}

.col-right{
    width:50%;
}

#viewport{
    width:320px;
    height:200px;
    background:blue;
}

#map{
    width:320px;
    height:320px;
}

.keys{
    margin-top:2rem;
}

.keys > button{
    margin: 0 .5rem;
}

.keys > i{
    display:block;
    margin-top:2rem;
}

.controls{
    margin-top:4rem;
}


@media only screen and (max-width: 600px) {
    .row {
      margin: 0 auto;
      width:320px;
    }
  }
